*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: gray;
    font-family: Arial, Helvetics, sans-serif;
}

/** Screen Readers Only */
.sr-only {
    text-indent: -99999em;
}

.full-height {
    position: relative;
    height: 100%;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.page-title {
    margin: 0;
    padding: 0;
    color: #eee;
}

input,
button {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 31px;
    padding: 3px 6px;
}

button {
    cursor: pointer;
}

.block {
    width: 100%;
}

.btn-right {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 34px;
}

/**
 * Navigation Bar styles based on http://jsfiddle.net/kangrian/WCauA/
 */
.pushmenu {
    background: #3c3933;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position:fixed;
}

.pushmenu .header {
    color: #cbbfad;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    margin: 0;
    background: #282522;
    height: 48px;
}

.list-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-items li {
    display: block;
    color: #fff;
    font-size: 10pt;
    text-decoration: none;
    border-top: 1px solid #56544e;
    border-bottom: 1px solid #312e2a;
    padding: 14px;
    cursor: pointer;
}

.list-items li:hover {
    background:#00A287;
}

.list-items li:active {
    background: #454f5c;
    color: #fff;
}

.pushmenu-left {
    left: -240px;

}

.pushmenu-open .pushmenu-left{
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.pushmenu-push.pushmenu-open {
    left: 240px;
    right: 0;
}

.pushmenu, .pushmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#toggle-btn {
    display: block;
    background: url(../img/icon_nav.png) no-repeat left top;
    cursor: pointer;
    height: 27px;
    width: 33px;
    position: absolute;
    left: 10px;
}

#toggle-btn.active {
    background-position: -33px top;
}

.main-header {
    background: #00A287;
    height: 48px;
    padding: 10px 60px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Map Styles */
#map-section {
    padding: 10px 20px;
    top: 48px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
